<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div style='font-size: 18pt; width: 100%; text-align: center;'>Welcome to Image Search!</div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <label for="searchInput">
      Search for:
      <input name="searchInput" id="searchInput" (keyup.Enter)="search()" [formControl]="searchInput">
    </label>
  </div>

  <h2>Search Results</h2>

  <div style="display: flex; flex-direction: column;">
    <div *ngFor="let result of searchResults">
      <hr/>
      <div>{{result.title}} {{result.description}}</div>
      <div style="display: flex; flex-direction: row;">
        <a *ngFor="let image of result.images" target="_blank" rel="noopener" rel="noreferrer" href={{image.url}}>
          <div style="height: 200; width: 200; padding: 5px;">
            <img src={{image.thumbnailUrl}}/>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
  </footer>

</div>
